<div class="video-popup">
  <iframe src="http://fast.wistia.com/embed/iframe/{{ id }}?version=v1&videoHeight=400&videoWidth=713" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="713" height="400"></iframe>
  <div class="close">Close</div>
</div>
<div class="video-shade"></div>
